<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects</title>
    </head>
        <body>
           
        <p>{{projects}}</p>
           
        </body>
    
</html>